<app-navbar [items]="navbarItems" [loggedIn]="loggedIn"></app-navbar>
<div class="container">
  <div class="auth">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit!
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet libero, placeat sint voluptatum quis error
      impedit itaque. Vero quibusdam ullam assumenda placeat et porro architecto nobis eveniet beatae repudiandae! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Harum iure distinctio soluta officia ea incidunt ipsum veniam
      esse sapiente vitae, qui minus totam sit facere illo autem officiis fugiat ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet libero, placeat sint voluptatum quis error
      impedit itaque. Vero quibusdam ullam assumenda placeat et porro architecto nobis eveniet beatae repudiandae! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Harum iure distinctio soluta officia ea incidunt ipsum veniam
      esse sapiente vitae, qui minus totam sit facere illo autem officiis fugiat ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet libero, placeat sint voluptatum quis error
      impedit itaque. Vero quibusdam ullam assumenda placeat et porro architecto nobis eveniet beatae repudiandae! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Harum iure distinctio soluta officia ea incidunt ipsum veniam
      esse sapiente vitae, qui minus totam sit facere illo autem officiis fugiat ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet libero, placeat sint voluptatum quis error
      impedit itaque. Vero quibusdam ullam assumenda placeat et porro architecto nobis eveniet beatae repudiandae! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Harum iure distinctio soluta officia ea incidunt ipsum veniam
      esse sapiente vitae, qui minus totam sit facere illo autem officiis fugiat ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet libero, placeat sint voluptatum quis error
      impedit itaque. Vero quibusdam ullam assumenda placeat et porro architecto nobis eveniet beatae repudiandae! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Harum iure distinctio soluta officia ea incidunt ipsum veniam
      esse sapiente vitae, qui minus totam sit facere illo autem officiis fugiat ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet libero, placeat sint voluptatum quis error
      impedit itaque. Vero quibusdam ullam assumenda placeat et porro architecto nobis eveniet beatae repudiandae! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Harum iure distinctio soluta officia ea incidunt ipsum veniam
      esse sapiente vitae, qui minus totam sit facere illo autem officiis fugiat ratione.
    </p>
  </div>
</div>