<div class="select-input" [formGroup]="form">
  <mat-form-field class="select-input__field" appearance="fill">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <mat-select [formControlName]="name" (selectionChange)="valueChange($event)" [disableControl]="disable">
      <mat-option *ngFor="let opt of opts; index as i" value="{{ optsValues[i] }}"
        disabled="{{ optsDisabled[i] || false }}">
        {{ opt }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="errors">
      <span *ngIf="isControlHasError()">{{ errorMessage }}</span>
    </mat-error>
  </mat-form-field>
</div>