<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>


    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nulla ratione iusto velit culpa quaerat? Porro
    molestiae, repudiandae ullam odio rem accusantium voluptate minima nemo eligendi explicabo suscipit. Error, porro.
  </mat-expansion-panel>