<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title">
        <span>{{ task.title }} ({{ task.status }} / {{ task.priority }} / {{ manager }})</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="data">
    <span>Название: {{ task.title }}</span>
    <span>Статус: {{ task.status }}</span>
    <span>Приоритет: {{ task.priority }}</span>
    <span>Исполнитель: {{ manager }}</span>
    <span class="data__description">{{ task.description }}</span>
  </div>
  <mat-action-row>
    <button mat-button color="primary" (click)="editTast()">Редактировать</button>
    <button mat-button color="warn" (click)="deleteTast()">Удалить</button>
  </mat-action-row>
</mat-expansion-panel>