<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title">
        <span>{{ task.title }} - {{ manager || 'Не задан' }} ({{ task.priority }} / {{ task.status }})</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="data">
    <span>Название: {{ task.title }}</span>
    <span>Статус: {{ task.status }}</span>
    <span>Приоритет: {{ task.priority }}</span>
    <span>Исполнитель: {{ manager || 'Исполнитель не задан' }}</span>
    <span class="data__description">{{ task.description || 'Описание не задано' }}</span>
  </div>
  <mat-action-row>
    <button mat-button color="primary" (click)="edit()">Редактировать</button>
    <button mat-button color="warn" (click)="delete()">Удалить</button>
  </mat-action-row>
</mat-expansion-panel>