<div *ngIf="!loaded">Пожалуйста, подождите...</div>
<div *ngIf="loaded" class="task-list">
  <h1>Список задач</h1>
  <div class="toolbar">
    <div class="sort">
      <div class="sort__item" data-key="title" (click)="makeSort($event)">
        Название<mat-icon>{{ sortTypeIcon[keySortType.title] }}</mat-icon>
      </div>
      <div class="sort__item" data-key="managerId" (click)="makeSort($event)">
        Исполнитель<mat-icon>{{ sortTypeIcon[keySortType.managerId] }}</mat-icon>
      </div>
      <div class="sort__item" data-key="priority" (click)="makeSort($event)">
        Приоритет<mat-icon>{{ sortTypeIcon[keySortType.priority] }}</mat-icon>
      </div>
      <div class="sort__item" data-key="status" (click)="makeSort($event)">
        Статус<mat-icon>{{ sortTypeIcon[keySortType.status] }}</mat-icon>
      </div>
      <div [hidden]="!sortingSet" class="sort__item sort__item_reset" (click)="resetSort()">
        Сбросить<mat-icon>delete_sweep</mat-icon>
      </div>
    </div>
    <div class="search">
      <div class="search__item">
        <mat-form-field>
          <mat-label>Исполнитель</mat-label>
          <input matInput ngModel #mang="ngModel">
        </mat-form-field>
      </div>
      <div class="search__item">
        <mat-form-field>
          <mat-label>Описание</mat-label>
          <input matInput ngModel #desc="ngModel">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="tasks">
    <mat-accordion>
      <app-single-task
        *ngFor="let task of tasks | tasksSearch:'managerId':mang.value | tasksSearch:'description':desc.value; trackBy: trackByFn"
        [task]=" task" (onDelete)="deleteTask($event)">
      </app-single-task>
    </mat-accordion>
  </div>
</div>